.connection-form {
  padding-top: 150px;
  padding-bottom: 150px;
}

.connection-form form {
  margin-top: 20px;
}

.connection-form h1 {
  text-align: center;
}

.connection-form .button {
  margin-top: 25px;
}