.desc-section2 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.desc-section2 img {
    margin-right: 4%;
    object-fit: cover;
    min-height: 25rem;
}

.desc-section2 .container-wrapper h1 {
    letter-spacing: 0.05em;
    font-size: 1.8rem;
    line-height: 1.2;
}

.desc-section2 .container-wrapper p {
    opacity: 0.6;
    line-height: 1.8;
    margin-bottom: 1.25rem;
    margin-top: 1.25rem;
}

.desc-section2 .button {
    opacity: 0.8;
}