footer {
    background-color: rgb(35, 34, 34);
    padding-bottom: 5rem;
    padding-top: 5rem;
    color: rgba(255, 255, 255, 0.8);
}

footer img {
    margin-right: 4%;
    min-height: 13rem;
    object-fit: cover;
}

footer .container-wrapper h1 {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 1.25rem;
}

footer .container-wrapper p {
    line-height: 1.8;
    margin-top: 1.25rem;
}

footer ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

footer a {
    display: block;
    text-decoration: none;
    color: #777;
    padding: 5px 10px;
  }

  footer a:hover{
      color: darkgray;
  }