.friends-results h1 {
  font-weight: 400;
}

.friends-results .users {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(128,128,128,0.75);
  -moz-box-shadow: 0px 0px 2px 0px rgba(128,128,128,0.75);
  box-shadow: 0px 0px 2px 0px rgba(128,128,128,0.75);
}