.hero-image {
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/beach.jpg); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 390px;
    padding-top: 390px;
    position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
    margin: 0 25px 25px 25px;
    line-height: 1.2;
    font-size: 2.8em;
}

.hero-text p {
    font-size: 1.2em;
}

.hero-image .button {
    margin: .5em .2em;
}