.hero-image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text h1 {
    margin-bottom: 25px;
    line-height: 1.2;
    font-size: 2.6em;
}

.hero-text p {
    font-size: 1.2em;
}

.hero-image .button {
    margin: .5em .2em;
}

.hero-image .arrow {
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  border-style: solid;
  border-color: white;
  border-width: 0px 2px 2px 0px;
  transform: rotate(45deg);
  transition: border-width 150ms ease-in-out;
  margin-left: auto;
  margin-right: auto;
}

.arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.hero-image .link {
  cursor: pointer;
  position:absolute;
  bottom:25px;
}

@media screen and (max-width: 768px) {
  .hero-text h1{
    font-size: 1.6em;
  }
  .hero-text p {
    font-size: 1.1em;
  }
}