.post {
  overflow: hidden;
  margin-bottom: 1rem;
}

.post-author-date {
  border-bottom: solid 1px #d4d4d5; 
}

.post-author-date h1 {
  display: inline-block;
  font-size: 1.3rem;
}

.post-author-date p {
  font-size: 15px;
  display: inline-block;
  margin: 16px 0;
}

.post-text p {
  margin: 0;
}

.post-text p:first-child {
  margin-top: 16px;
}

.post-text p:last-child {
  margin-bottom: 16px;
}

.post .comment-header {
  text-align: center;
  border-bottom: 1px solid #d4d4d5; 
  line-height: 0.1em;
}

.post h2 span {
  background:#fff;
  padding:0 10px; 
}