.post {
  overflow: hidden;
  margin-bottom: 2rem;
}

.post-text p:first-child {
  margin-top: 16px;
}

.post-text p:last-child {
  margin-bottom: 16px;
}

.buttons-edition {
  margin-top: 3rem;
}

.post .comment-header {
  text-align: center;
  border-bottom: 1px solid #d4d4d5; 
  line-height: 0.1em;
}

.post h2 span {
  background:#fff;
  padding:0 10px; 
}