.profile-background .btn-background {
    height: 15rem;
    width: 50rem;
    border: none;
    background-size: cover;
    background-position: center;
  }
  
  .profile-background .btn-background:focus{
      outline: none;
  }

  .spinner {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
  }