.profile-picture {
  height: 50px;
}

.profile-picture .btn-picture{
  display: inline-block;
  position: relative;
  top: -110px;
  right: -20px;
}

  .spinner {
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
  }