.profile-picture .btn-picture {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: none;
    background-size: cover;
    background-position: center;
  }
  
  .profile-picture .btn-picture:focus{
      outline:none;
  }
  
  .profile-picture .icon-picture {
      color: #5bbdef;
  }