.signin-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/beach.jpg);
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
}

.signin-section .container-wrapper {
    margin:auto;
}

.signin-section .container-wrapper {
    color: white;
    text-align: center;
}

.signin-section .container-wrapper h1 {
    margin: 0 25px 25px 25px;
    line-height: 1.2;
    font-size: 2.8em;
}

.signin-section .container-wrapper p {
    font-size: 1.2em;
}