.wall {
  margin-top: 20px;
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.wall textarea {
  width: 100%;
}

.wall textarea:first-child {
  margin-bottom: 0;
}

.posts {
  margin-top: 1rem;
}

.wall .wrapper-button {
  text-align: center;
}